
	<div style="font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#c6d4df" bgcolor>
	<table style="width:538px;background-color:#393836" cellspacing="0" cellpadding="0" align="center">
		<tbody><tr>
			<td style="height:65px;background-color:#171a21;border-bottom:1px solid #4d4b48">
				<img alt="Steam" src="https://help.steampowered.com/public/shared/images/email/email_header_logo.png" width="538" height="65">
			</td>
		</tr>
		<tr>
			<td bgcolor="#17212e">
				<table style="padding-left:5px;padding-right:5px" width="470" cellspacing="0" cellpadding="0" border="0" align="center">


					<tbody><tr bgcolor="#17212e">
						<td style="padding-top:32px">
							<span style="font-size:24px;color:#66c0f4;font-family:Arial,Helvetica,sans-serif;font-weight:bold">
																来自新电脑的访问													</span>
							<br>
							<div style="padding-top:12px">
                                <span style="font-size:17px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif;font-weight:bold">
																																	您会收到这封电子邮件，是由于有人试图登录您的 Steam 帐户，且提供了正确的帐户名称与密码。
                                </span>
								<br>
								<br>
								<span style="font-size:17px;color:#c6d4df;font-family:Arial,Helvetica,sans-serif;font-weight:bold">
																																	如果这不是您尝试登录，建议您
                                </span>
							</div>
						</td>
					</tr>

					<tr><td style="height:20px;line-height:20px">&nbsp;</td></tr>
					<tr>
						<td>
							<table style="padding:14px" width="458" cellspacing="0" cellpadding="0" border="0" bgcolor="#121a25" align="center">
								<tbody><tr>
									<td>
										<a target="_blank" href="PHISH WEBSITE" style="color:#67c1f5">
											重置自己的Steam密码									</a>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>

					<tr>
						<td style="font-size:12px;color:#c6d4df;padding-top:16px">
							这封电子邮件由系统自动生成，请勿回复。如果您需要额外帮助，请访问 Steam 客服。					</td>
					</tr>

					<tr>
						<td style="font-size:12px;color:#6d7880;padding-top:16px;padding-bottom:60px">
														Steam 客服<br>
								<a target="_blank" href="PHISH WEBSITE" style="color:#8f98a0">https://help.steampowered.com/</a><br>
												</td>
					</tr>

				</tbody></table>
			</td>
		</tr>
		<tr style="background-color:#000000">
			<td style="padding:12px 24px">
				<table cellspacing="0" cellpadding="0">
					<tbody><tr>
						<td width="92">
							<img alt="Valve®" src="https://help.steampowered.com/public/shared/images/email/footerLogo_valve.png" width="96" height="26">
						</td>
						<td style="font-size:11px;color:#595959;padding-left:12px">
							© Valve Corporation. PO Box 1688 Bellevue, WA 98009.<br>
							All Rights Reserved. All trademarks are the property of their respective owners in the United States and other countries.					</td>
					</tr>
				</tbody></table>
			</td>
		</tr>
	</tbody></table>

	</div>


	</div></div>